/* gradient.module.css */
.gradientText {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(45deg, #EBF2F1, #ffd158, #fde2cf, #EBF2F1);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

  